<!-- templates/playlists_index.html -->
{% extends 'base.html' %}

{% block content %}



<!-- Add the following classes to their appropriate elements  -->
<img src="https://images-na.ssl-images-amazon.com/images/I/51Uo9TJE5iL.jpg" alt="beautiful Kenya">

    <div class='row mt-5'> 
        {% for playlist in playlists %}
            <div class='col-md-6'>
                
                    <h2><a href='/playlists/{{ playlist._id }}'>{{ playlist.title }}</a></h2>
                    
                    <small>{{ playlist.description }}</small>
                    {% if playlist.created_at %}
                    <p class='text-muted'>Created on {{ playlist.created_at.strftime('%A, %d %B, %Y') }}</p>
                        at {{ playlist.created_at.strftime('%I:%M %p') }}</p>
                    {% endif %}
                <!-- <div class="embed-responsive embed-responsive-1by1"> -->
                    <!-- {% for video in playlist.videos %} -->
                    <!-- <div class="card"><div class="card-body"> -->
                    <!-- <iframe width="601" height="260" src="{{ video }}"></iframe> -->
                    <!-- </div></div> -->
                    <!-- {% endfor %} -->
                    <!-- timestamp -->
                    
                <!-- </div> -->
            </div>
        {% endfor %}
    </div>
{% endblock %}