<!-- templates/playlists_index.html -->
{% extends 'base.html' %}

{% block content %}
<h1>raw-- unconventional talent<br> around the world</h1>


<!-- Add the following classes to their appropriate elements  -->

    <div class='row mt-5'> 
        {% for playlist in playlists %}
            <div class='col-md-3'>
                
                    <h2><a href='/playlists/{{ playlist._id }}'>{{ playlist.title }}</a></h2>
                    
                    <small>{{ playlist.description }}</small>
                <div class="embed-responsive embed-responsive-1by1">
                    {% for video in playlist.videos %}
                    <!-- <div class="card"><div class="card-body"> -->
                    <iframe width="601" height="260" src="{{ video }}"></iframe>
                    <!-- </div></div> -->
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}